# 数据库连接
DATABASE_URL=postgresql://neondb_owner:npg_bYeBcy7UH9Pm@ep-steep-cell-a19cj6bv-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT配置
JWT_SECRET=YP5surja
JWT_EXPIRES_IN=7d

# 服务器配置
PORT=3000
NODE_ENV=development

# 前端URL（CORS白名单）
FRONTEND_URL=http://localhost:3000
